.jumbotron {
	margin-bottom: 0px;
	background: url("https://static.pexels.com/photos/34950/pexels-photo.jpg") no-repeat center center;
	background-size: cover;
	border-radius: 5px;
	color: white;
	height: 400px;
	box-shadow: 0px 3px 4px gray;
}

.jumbo-text {
	position: relative;
	top: 35%;
	left: 3vw;
}

.features {
	height: 20vh !important;
	padding-top: 50%px;
}

.feature-text {
	font-family: Open Sans;
	font-size: 24px;
	text-align: center;
}

body {
	width: 80%;
	height: 200vh;
	margin: auto auto;
	box-shadow: 2px 2px 4px gray, -2px 2px 4px gray;
	background-color: white !important;
}

html {
	background-color: white;
}

