.jumbo {
	position: relative;
	z-index: 2;
}

.jumbotron {
	margin-bottom: 0px;
	background: url("https://static.pexels.com/photos/34950/pexels-photo.jpg") no-repeat center center;
	background-size: cover;
	border-radius: 5px;
	color: white;
	height: 400px;
	box-shadow: 0px 3px 4px black;
}

.jumbo-text {
	position: relative;
	top: 35%;
	left: 3vw;
}

.features {
}

.feature-text {
	position: relative;
	width: 100%;
	padding: 50px;
	height: 250px;
	margin: auto auto;
	font-family: Open Sans;
	font-size: 24px;
}

.project-list {
	list-style: none;
}
i {
	text-align: center !important;
}

.header {
	margin-top: 50px !important;
}

body {
	width: 80%;
	/*height: 150vh;*/
	margin: auto auto;
	box-shadow: 2px 2px 4px black, -2px 2px 4px black;
	background-color: white !important;
}

html {
	background-color: gray;
}

body {
	padding-top: 50px;
}