{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>Complaints</h1>
		</div>
	</div>
</div>
<div class="container-fluid">
	<button type="button" class="btn btn-primary">Compose</button>
</div>
<br>
<div class="container-fluid table-responsive">
	<table class="table table-striped">
		<theadg>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Type</th>
				<th scope="col">Message</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(numComplaints) %}
			<tr>
				<td>{{complaints[i][0]}}</th>
				<td>{{complaints[i][1]}}</td>
				<td>{{complaints[i][2]}}</td>
				<td>
					<button type="button" class="btn btn-primary btn-sm">Reply</button>
					<button type="button" class="btn btn-danger btn-sm">Delete</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}