{% extends "base.html" %}
{% block content %}
<div class="jumbo container-fluid">
	<div class="row">
		<div class="jumbotron">
			<div class="jumbo-text">
				<h1>PV&amp;J Turk Machine</h1>
				<p>Hire developers to carry out your vision.</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row features">
		<div class="col-sm-12 col-md-4">
			<div class="feature-text text-center">
				<i class="fa fa-4x fa-comments-o" aria-hidden="true"></i><br>
				Hire experienced programmers
			</div>
		</div>
		<div style="background-color: lightgray" class="col-sm-12 col-md-4">
			<div class="feature-text text-center">
				<i class="fa fa-4x fa-files-o" aria-hidden="true"></i><br>
				Find projects to develop
			</div>
		</div>
		<div class="col-sm-12 col-md-4">
			<div class="feature-text text-center center-block">
				<i class="fa fa-4x fa-thumbs-o-up" aria-hidden="true"></i><br>
				100% Satisfaction Guaranteed
		</div>
	</div>
</div>
{% endblock %}