{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>Messages</h1>
		</div>
	</div>
</div>
<br>
<br>
<div class="container-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Message</th>
				<th scope="col">Date</th>
				<th scope="col">Reply</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>A</td>
				<td>B</td>
				<td>C</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>A</td>
				<td>B</td>
				<td>C</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>A</td>
				<td>B</td>
				<td>C</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}