{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>Messages</h1>
		</div>
	</div>
</div>
<br>
<br>
<div class="container-fluid table-responsive">
	<table class="table table-striped">
		<theadg>
			<tr>
				<th scope="col">Message</th>
				<th scope="col">Date</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</th>
				<td>A</td>
				<td>
					<button type="button" class="btn btn-primary btn-sm">Reply</button>
					<button type="button" class="btn btn-danger btn-sm">Delete</button>
				</td>
			</tr>
			<tr>
				<td>2</th>
				<td>A</td>
				<td>
					<button type="button" class="btn btn-primary btn-sm">Reply</button>
					<button type="button" class="btn btn-danger btn-sm">Delete</button>
				</td>
			</tr>
			<tr>
				<td>3</th>
				<td>A</td>
				<td>
					<button type="button" class="btn btn-primary btn-sm">Reply</button>
					<button type="button" class="btn btn-danger btn-sm">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}