{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>{{ data['projectName'] }}</h1>
      <h4>I am looking for... <strong>{{ data['devTypes'] }}</strong></h4>
      {% if data['deadline'] %}
      <h4> to complete the task by <strong>{{ data['deadline'] }}</strong>.</h4>
      {% endif %}
      <h4> Bidding ends <strong>{{ data['bidDeadline'] }}</strong>.</h4>
      <p>{{ data['description'] }}</p>
		</div>
	</div>
</div>

<div class="container-fluid">
  <div class="row" style="padding:0;">
    <div class="col-md-8" style="">
      <iframe align="center" src="/get_spec/{{ data['sid'] }}" width="80%" height="700px" style="display: block; margin: 0 auto; margin-top: 50px;">
      </iframe>
    </div>
    <div class="col-md-4" style="margin-top: 50px; padding-right:50px;">
      <h3>Interested? Bid here.</h3>
      <form name="submitbid" action="/view/{{ data['sid'] }}" method="post">
        <div class="row">
          <div class="form-group col-m-4">
            <label>Specialties</label>
            <input type="text" class="form-control" placeholder="Specialties" name="devTypes" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-m-4">
          <label>Team Size</label>
          <input type="number" class="form-control" placeholder="Team Size" name="teamSize" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-m-4">
          <label>Price ($)</label>
          <input type="number" class="form-control" placeholder="Price" name="price" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-m-4">
          <label>Proposed Deadline</label>
          <input type="date" class="form-control" placeholder="Proposed Deadline" name="proposedDeadline" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default">Submit Bid</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  <br>
{% for bid in data['bids'] %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- <a href="view/{{ data['sid'] }}" style="text-decoration: none; color:gray"> -->
        <div class="panel panel-default">
          <div class="panel-heading">
            ${{ bid['price'] }}
          </div>
          <div class="panel-body">
            <ul class="project-list">
              {% if bid['bidder'] %}
                <li>Bidder: {{ bid['bidder']['firstname'] }}</li>
              {% endif %}
              <li>Specialties: {{ bid['devTypes'] }}</li>
              <li>Team Size: {{ bid['teamSize'] }}</li>
              <li>Deadline: {{ bid['proposedDeadline'] }}</li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}