{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>Search Results</h1>
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
	{% for i in range(numResultsUsers) %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="/user/{{resultsUsers[i][0]}}">{{resultsUsers[i][1]}}</a>
					</div>
				</div>
			</a>
			</div>
		</div>
	{% endfor %}
	{% for i in range(numResultsProjects) %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="/view/{{resultsProjects[i][0]}}">{{resultsProjects[i][1]}}</a>
					</div>
				</div>
			</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}