{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>User Details</h1>
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
{% for attribute in user_details %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ attribute[0] }}
				</div>
				<div class="panel-body">
					{{ attributes[1] }}
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
