{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>User Profile</h1>
		</div>
	</div>
</div>
<br>
<div>
{% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
              {% for message in messages %}
                <div class="alert alert-success">
                {{ message }}
              </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
<div class="container-fluid">
{% for attribute in user_details %}
	<div class="row">
		<div class="col-md-12">
			{% if attribute == 'Balance' %}
			<a href='/balance'>
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ attribute }}
					</div>
					<div class="panel-body">
						{{ user_details[attribute] }}
					</div>
				</div>
			</a>
			{% else %}
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ attribute }}
				</div>
				<div class="panel-body">
					{{ user_details[attribute] }}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endfor %}
{% for attribute in userjson %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ attribute }}
				</div>
				<div class="panel-body">
					{{ userjson[attribute] }}
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
