{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>Project Postings</h1>
		</div>
	</div>
</div>
<br>
<div class="container">
	{% for project in projects %}
	<div class="row">
		<div class="col-md-11">
			<a href="view/{{ project['sid'] }}" style="text-decoration: none; color:gray">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ project['projectName'] }}
					</div>
					<div class="panel-body">
						<ul>
							<li>Description: {{ project['description'] }}</li>
							<li>Looking for: {{ project['devTypes'] }}</li>
							{% if project['deadline'] %}
							<li>Deadline: {{ project['deadline'] }}</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}