{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<h1>{% if not projects %}No {% endif %}Project Postings</h1>
			{% if session['UserType'] == 'Client' and session['Status'] == 'Normal' %}
				<a class="btn btn-default" href="{{ url_for('createPost') }}">Create Project Post</a>
			{% endif %}
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
{% for project in projects %}
	<div class="row">
		<div class="col-md-12">
			<a href="view/{{ project['sid'] }}" style="text-decoration: none; color:gray">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ project['projectName'] }}
					</div>
					<div class="panel-body">
						<ul class="project-list">
							<li><strong>Description:</strong> {{ project['description'] }}</li>
							<li><strong>Looking for:</strong> {{ project['devTypes'] }}</li>
							{% if project['deadline'] %}
							<li><strong>Deadline:</strong> {{ project['deadline'] }}</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
<a class="btn btn-danger" href="/complaints">Complain</a>
{% endblock %}